---
layout: default
---

<article>
  <h2>{{ page.title }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>
<script>
  var idcomments_acct = '48a63007f7106c5fea5ab9317abd36f6';
  var idcomments_post_id;
  var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
<script type="text/javascript" src="https://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>

<span id="busuanzi_container_page_pv">本文总阅读量<span id="busuanzi_value_page_pv"></span>次</span>
