---
layout: default
---

<article>
  <h2>{{ page.title }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date: '%Y-%m-%d' }}</time>
</article>
{% if site.toc %}
<div class="container">
  <div class="contents">
    <article class="markdown-body">
      {{ page.content }}
    </article>
  </div>
  <div class="table-of-contents">
    <h2>目录</h2>
    {% include toc.html html=content %}
  </div>
</div>
{% else %}
<article class="markdown-body">
  {{ page.content }}
</article>
{% endif %}
<script src="https://giscus.app/client.js"
        data-repo="zsdnishishui/zsdnishishui.github.io"
        data-repo-id="R_kgDOKdbMYg"
        data-category="Announcements"
        data-category-id="DIC_kwDOKdbMYs4Cb77x"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>

<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
<script type="text/javascript" src="https://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>

<span id="busuanzi_container_page_pv">本文总阅读量<span id="busuanzi_value_page_pv"></span>次</span>
